# {{ ansible_managed }}
[Journal]
Storage={{ common_journald_storage }}
Compress={{ common_journald_compress }}
SystemMaxUse={{ common_journald_system_max_use }}
SystemMaxFileSize={{ common_journald_system_max_file_size }}
MaxRetentionSec={{ common_journald_max_retention_sec }}
